.dice {
    height: 64px;
    width: 64px;
    background: hsl(150, 100%, 66%);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35px;
    cursor: pointer;
}

.dice:hover {
    box-shadow: 0px 0px 40px hsla(150, 100%, 66%, 0.5);
}

.dice img {
    animation: rotate 5s ease-in-out infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 393px) {
    .dice {
        top: 45px;
    }
}